

/* .slct_form {
        width: 50% !important;
    max-width: 550px !important;
    height: auto !important;
    margin-left: 6% !important;
    margin-top: -26% !important;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.10);
    border: 0px solid rgba(255, 255, 255, 0.5);
} */

.slct_form {
    
    
    
    
    
    /* margin-left: 6% !important;
    margin-top: -138px; */
    border-radius: 8px;
    background-image: url('../../../../assets/images/slctbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}