
.slct_form {

    border-radius: 8px;
    background-image: url('../../../../assets/images/slctbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    /* Ensure it scrolls */
}